@font-face {
  font-family: "BYekan";
  src: url("../public/assets/font/BYekan.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  direction: rtl;
  font-family: "BYekan" !important;
}

body {
  min-height: 100vh !important;
  background-color: #f6f7fa !important;
}

.muirtl-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.muirtl-1xzfp0x-MuiButtonBase-root-MuiTab-root.Mui-selected {
  background-image: url("/assets/image/Rectangle.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 159px;
}

.muirtl-1gsv261 {
  border-bottom: 0px !important;
}

.muirtl-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  div#simple-tabpanel-0 {
    width: 320px;
    overflow: scroll !important;
  }
}
